<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../setups/head") %>
    <title>List - List Prjct</title>
  </head>

  <body>
    <%- include("../components/navbar") %>

    <section id="home-content" class="container d-flex flex-wrap gap-4 mb-5">
      <img class="col-5 rounded-4" src="img/profile.png" alt="profile img" />
      <div class="content col-5">
        <h1>list.prjct</h1>
        <p class="mt-4">
          list.prjct is a website created by Dimas Eka. This website is used to
          register projects that have been created by Dimas. Dimas created this
          website by trying to practice using MVC (Model View Controller), with
          references from BDC (Bali Dev Camp).
        </p>
        <p>
          Dimas Eka, a student studying at STMIK Primkara, majoring in
          informatics engineering. He has started his career as a designer and
          developer since 2019, by starting to create a website design and
          interactive learning media.
        </p>
        <div class="social mb-4 fs-3 d-flex gap-3">
          <a href="https://github.com/masdimaseka"
            ><i class="bi bi-github"></i
          ></a>
          <a href="https://www.instagram.com/dimssseka/"
            ><i class="bi bi-instagram"></i
          ></a>
        </div>
        <small>@masdimaseka</small>
      </div>
    </section>
    <%- include("../setups/script") %>
  </body>
</html>
